body{
    background-color: rgb(253, 245, 233);
}



/* Styling of the "Quiz Information" */
.quizInfo{
    display: none;
}

.infoHead,
.highScore {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 1000;
    align-items: center;
    padding: 30px;
    text-align: center;
    justify-content: center;
}

.infoContent,
.backtoquiz
 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
    text-align: center;
    padding: 20px 50px;
    justify-content: center;
}

.infoContent span{
    color: rgb(82, 26, 133);
}
/* Location of "Start Quiz" button */
.startButton,
.goBack{
    display: flex;
    justify-content: center;
}

/* Styling of "Start Quiz" button */
.startButton Button{
    display: block;
    /* display: none; */
    background-color: rgb(82, 26, 133);
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    transition: all 0.4s ease;
}

.startButton Button:hover{
    background-color: rgb(157, 79, 230);
}

.topRowNavs{
    display: flex;
    justify-content: space-between;
}
/* Styling of "View Highscore" Button */
.highScore button{
    font-size: large;
    color: white;
    background-color: rgb(82, 26, 133);
    padding: 5px;
    cursor: pointer;
    transition: all 0.4s ease;

}

.highScore button:hover{
    background-color: rgb(157, 79, 230);
}

.highScore button:visited {
    color:rgb(82, 26, 133);
}

.timeClock {
    font-size: large;
}

/* Styling of Question Box */
.questionBox {
    /* position: flex; */
    /* width: 100px; */
    display: block;
    /* display: none; */
    justify-content: center;
    align-items: center;
}



.questionHeader,
.questionContent,
.questionOptions,
.questionNumber,
.scorePage{
    width:200px;
    display: inline;
    /* display: none; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.questionOne,
.questionTwo,
.questionThree,
.questionFour,
.scorePage{
    display: none;
}
/* .optionList{ */
    /* width: 190px; */
    /* justify-content: space-between; */
    /* display: block; */
    /* align-items: center; */
    /* text-align: center; */
/* } */
.questionOptions button{
    /* width: 200px; */
    display: inline;
    justify-content: space-between;
    background-color: rgb(82, 26, 133);
    color: white;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    transition: all 0.4s ease;
}

.questionOptions button:hover{
    background-color: rgb(157, 79, 230);
}

.questionNumber{
    display: inline;
    justify-content: space-between;
}

.questionNumber button{
    float: right;
    cursor: pointer;
}

.questionNumber .questionResult{
    display: none;
}